main {
  font-family: 'Roboto Mono Variable', monospace;
}

:root {
  --starlight-image-zoom-backdrop-bg: none;
  --sl-font: "Roboto Mono Variable", system-ui, monospace;
}

.hero-html {
  --size: 12rem;

  font-size: var(--size);
  justify-content: center;
  line-height: var(--size);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Roboto Mono Variable", system-ui, monospace;
}

.content-panel :is(p, ul) {
  font-family: "Roboto Mono Variable", system-ui, monospace;
}

:is(code, code *) {
  font-family: "Roboto Mono Variable", system-ui, monospace !important;
}

dialog::backdrop {
  backdrop-filter: blur(10px) brightness(0.8);
}

img {
  border-radius: 0.5rem;
}
